@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Dosis";
}

.container {
    max-width: 1280px;
    margin: auto
}